<footer class="pt-2">
<div class="container">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
    </div>
  </div>
  </div>
</footer>
